@import"../../../Style/variable.scss";
@import"../../../Style/base.scss";

.banner {
    position: relative;
    display: grid;
    place-content: center;
    background: #016a78;
    height: 50vh;

    &-main {
        position: relative;
        color: #fff;
        border: 10px solid #fff;
        border-radius: 10px;
        padding: 2rem;
        width: 40vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 25%);
        h1{
            font-size: 90px;
            font-weight: 550;
            text-shadow: 2px 2px 2px #000;
        }
        h2{
            
            text-align: right;
            text-shadow: 2px 2px 2px #000;
            font-size: 32px;
        }
    }
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url(https://guitar-store-site.netlify.app/static/media/bg.a6c5f64f.jpg) no-repeat bottom/cover;
    height: 100%;
    opacity: .7;
}